Importing libraries

In [1]:
import pandas as pd
import numpy as np

Reading dataset created in previous notebookj

In [2]:
df=pd.read_csv('TorontoDataset.csv')

In [3]:
df.head()

   Unnamed: 0 PostalCode           Borough                      Neighborhood
0           0        M3A        North York                         Parkwoods
1           1        M4A        North York                  Victoria Village
2           2        M5A  Downtown Toronto                      Harbourfront
3           3        M6A        North York  Lawrence Manor, Lawrence Heights
4           4        M7A      Queen's Park                      Queen's Park

In [4]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [5]:
df.head()

  PostalCode           Borough                      Neighborhood
0        M3A        North York                         Parkwoods
1        M4A        North York                  Victoria Village
2        M5A  Downtown Toronto                      Harbourfront
3        M6A        North York  Lawrence Manor, Lawrence Heights
4        M7A      Queen's Park                      Queen's Park

In [6]:
df_geo=pd.read_csv('https://cocl.us/Geospatial_data')

In [7]:
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [8]:
df_geo.shape

(103, 3)

In [9]:
df_geo=df_geo.rename({'Postal Code':'PostalCode'},axis=1)

In [10]:
df_geo.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476